{{define "title"}}Dashboard{{end}}
{{define "content"}}
<h1>Dashboard</h1>
<p>Welcome to patient management system</p>
<a href="/patients">Manage patients</a>
<a href="/appointments">Manage appointments</a>
{{end}}
